.DS_Store
.Rhistory
.Rproj.user
*.swp
*.tmp
*.bak
_posts/**/*_cache/*
_posts/**/*_files/*
!_posts/**/*_files/figure-html5
_fifty-states/**/*.html
_fifty-states/**/*_files/
*_cache
docs/**/*.R
docs/**/*.Rmd
docs/**/*.csv
docs/**/*.rds
docs/fifty-states/**/*_files/*
docs/fifty-states/**/*.html
!docs/fifty-states/**/index.html
!docs/fifty-states/**/*_files/figure-html5
docs/japan-47-pref/*.css
docs/japan-47-pref/*.rds
docs/japan-47-pref/*.csv
docs/japan-47-pref/*_files/*
docs/japan-47-pref/*_catche/*
docs/japan-47-pref/en/*_files/*
docs/japan-47-pref/en/*_catche/*
docs/japan-47-pref/**/analyses/*
!docs/japan-47-pref/analyses/**/*.html
!docs/japan-47-pref/analyses/**/*_files/figure-html5
docs/japan-47-pref/analyses/**/*hr_2020_doc.html
